# an example runtime config file
host_addr 10.10.30.10
host_netmask 255.255.255.0
host_gateway 0.0.0.0
host_mtu 9000
# static_arp 10.10.30.1 7C:C2:55:BE:CA:E3
# static_arp 10.10.30.1 7c:c2:55:be:ca:c7
# static_arp 10.10.30.2 7C:C2:55:BE:CA:E3
static_arp 10.10.30.1 0C:42:A1:5F:51:20
runtime_kthreads 8
runtime_spinning_kthreads 8
runtime_guaranteed_kthreads 8
runtime_priority lc
